* {
    scrollbar-width: thin;
    scrollbar-color: #5BFEFC #070d12;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #00000057;
}

*::-webkit-scrollbar-thumb {
    background-color: #5BFEFC;
    border-radius: 20px;
    border: 1px solid #080e048f;
}